


body{
    background-color: #F8F300;
    height: 100vh;
    padding: 70px;
    font-family: Righteous, sans-serif;
    color: #000;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid #000;
    z-index: -1;
  }

  .cabeca {
    display: flex;
    gap: 40px;
    font-size: 25px;
  }

.home{
  display: flex;
  font-size: 25px;
}

.logo{
  font-size: 25px;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  .social{
      display: flex;
      gap: 20px;
      filter: grayscale();
  }

  .social img{
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: flex-end;
   
  }

  .V {
    height: 550px;
    display: flex;
    align-items: center;   
    justify-content: center; 
    height: 100vh; 
    bottom: 0;
  }
  
  .titulo{
  font-size: 1000px;
  margin-left:280px ;
  margin-top: 20;
}
h2{
  font-size: 1000px;
  background-color: aliceblue;

}