


body{
    background-color: #F8F300;
    height: 100%;
    width: 100%;
    padding: 70px;
    font-family: Righteous, sans-serif;
    color: #000;
    overflow-x: hidden;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    border-bottom: 1px solid #000;
    z-index: -1;
  }

  .cabeca {
    display: flex;
    gap: 40px;
    font-size: 25px;
  }

.home{
  display: flex;
  font-size: 25px;
}

.logo{
  font-size: 25px;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
    
  }
  .social{
      display: flex;
      gap: 20px;
      filter: grayscale();
  }

  .social img{
      height: 30px;
      width: 30px;
      display: flex;
      justify-content: flex-end;
   
  }

  .V {
    height: 550px;
    position: absolute;
    z-index: 1;
    left: 500px;
    top: 30px;
    display: flex;
    align-items: center;   
    justify-content: center; 
    height: 100vh; 
    bottom: 0;
  }

  
  .titulo{
    width: 500px;
  font-size: 50px;
  margin-left:100px ;

}

.carro{
  margin-left: 75vw;
  margin-top: -200px;
}

.Vg{
  margin-left: 85vw;
  margin-top: 200px;
}

.qudrado{
  width: 110px;
  height: 100px;
  background-color: #000;
  z-index: -1;
  margin-top: -90px;
  margin-left: 4px;
}

.switch{
  font-size: 30px;
  margin-left: -100px;
  margin-top: -70px;
}

.vermelho{
  width: 250px;
  height: 100px;
  background-color: #F23F3F;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -300px;
  margin-left: 100px;
}